.site-content-inner.page-settings {
	.page-content {
		.ant-form {
			max-width:940px;
		}
		.phone-line {
			position:relative;
			@include mobile {
				margin-bottom:20px;
				border-bottom:1px solid #ddd;
			}
			.col-city {
				@include mobile {
					padding-right:50px;
				}
			}
			.btn-del {
				position:absolute;
				top:28px;
				right:-50px;
				color:#fff;
				background-color:#f75b5b;
				border-color:#f75b5b;
				@include mobile {
					right:0;
				}
				&:hover {
					background-color:#d03737;
					border-color:#d03737;
				}
			}
			.btn-add {
				box-shadow:none;
			}
		}
	}
}
